@page "/View/Torium"

<div class="view-div">

    <h2 class="title">Torium Browser</h2>
    <h5>This is the frontend of the Torium Browser, enjoy the view!</h5>
    <hr>

    <img class="view-image" src="Images/ViewImage/Torium.png" />

</div>
